/* breakpoints for responsive layouts */
/* animation variables */
/* mobile defaults first */
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #eaeff0;
  color: #757575;
  font-family: Arial;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
  text-decoration: none;
  font-weight: 400;
  color: #757575;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #757575;
  text-decoration: none;
}

b {
  font-weight: 600;
}

i {
  color: #bd2025;
}

button {
  font-size: 1em;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  background-color: #bd2025;
  width: 40%;
  padding: 4%;
  color: #eaeff0;
  margin: auto;
  margin-top: 4vh;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

button:hover {
  background-color: #eaeff0;
  color: #bd2025;
}

@font-face {
  font-family: "SportsNight";
  src: url(../fonts/SF_Sports_Night.ttf);
}

/* tablet defaults */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.6em;
  }
}

/* desktop defaults */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2vw;
    max-width: 1920px;
  }
  #app {
    max-width: 1920px;
  }
  #container {
    max-width: 1920px;
  }
}

#top-nav {
  width: 100vw;
  display: absolute;
  height: 8vh;
}

/* tablet */
@media screen and (min-width: 768px) {
  #top-nav {
    width: 100vw;
    display: absolute;
    height: 8vh;
  }
}

/* desktop  */
@media screen and (min-width: 1024px) {
  header {
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 16vh;
    z-index: 999;
  }
  #top-nav {
    width: 96%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    background-color: #bd2025;
  }
  #top-nav a {
    width: 13%;
    font-family: "SportsNight";
    font-size: 1.6vw;
    text-align: center;
    cursor: pointer;
    color: #eaeff0;
    transition: 0.5s 0s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: 600;
  }
  #top-nav a:hover {
    color: #111;
  }
  #top-nav .nav-logo {
    width: 20%;
    height: 100%;
    text-align: center;
  }
  #top-nav .nav-logo img {
    height: 100%;
  }
}

#app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#contents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

/*landing styles*/
#landing {
  background-image: url("../images/bigref.jpg");
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#landing .landing_text {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  padding: 30vh;
  padding-top: 40vh;
  margin-left: 0;
  text-align: center;
}

#landing .landing_text h1 {
  color: #eaeff0;
  font-size: 3vw;
  font-weight: 600;
}

#landing .landing_text h3 {
  color: #eaeff0;
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-size: 1.5vw;
}

#landing .landing_text p {
  color: #eaeff0;
}
/*# sourceMappingURL=main.css.map */