.admin-dash-header {
    background-color: $accent-color;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    button {
        font-size: 12px;
        top: 0;
        margin: 0;
        width: 15%;
        a {
            font-family: $main-font;
            font-size: 12px;
        }
    }

    .logo-container{
        margin: 0 10%;
    
        a { pointer-events: all;}
    
        .admin-logo {
            background-color: $accent-color;
            margin: 0 auto;
            width: 100%;
            max-width: 500px;        
        }
    }

    .admin-nav-logout {
        a {
            color: $offwhite;
        }
    }

    .admin-drop-nav{
        position: absolute;
        left: 0;
        top: 0;

        ul {
            background-color: white;
            padding: 5vh;
            top: 0;
            margin-top: 0;

            li {
                font-size: 1.2rem;
                
                a {
                    color: $offblack;
                    display: block;
                    padding: 2vh 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .admin-drop-close{
                    width: 50px;
                    
                    &:hover {
                        background-color: $accent-color;
                        color: white;
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }


    nav {
        ul {
            li {
                list-style-type: none;
            }
        }
    }    
}

.dashboard-title{
    font-size: 1.4rem;
    color: $offblack;
}

.admin-content-title{
    color: $offblack;

    font-size: 1.4rem !important;

    margin: 4vh 2vw;
}

.dashboard-link{
    font-size: 1rem;
    border: none;
    border-radius: 0.8em;
    background-color: $accent-color;
    width: 40%;
    padding: 4%;
    color: $offwhite;
    transition: .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    cursor: pointer;

    &:hover{
        background-color: $darkaccent-color;
    }
}

#edit-all-users-link {
    color: $offblack;
    
    margin-left: 2vw;
    font-size: 1rem;

    &:hover{
        text-decoration: underline;
    }
}

a {
    pointer-events: all !important;
}

th{
    font-size: 1.4rem !important;
    color: $offblack;
}

td {
    font-size: 1.1rem;
}