.announcement-wrapper{
    margin: 2vh 4vw;

    h2 {
        font-size: 1.2rem;
        color: $offblack;
    }

    span {
        font-size: 1rem;
        display: block;
    }

    p{
        margin: 1vh 1vw;
        
    }

    
}