@keyframes slide {
    from {
        transform:translateX(0vw);
    }

    to {
        transform:translateX(60vw);
    }
}

@keyframes reverse-slide {
    from {
        transform:translateX(60vw);
    }

    to {
        transform:translateX(0vw);
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter-to, .fade-leave {
      opacity:1;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }