
/* mobile defaults first */
body { 
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color:$offwhite;
    color: $main-text-color;
    font-family: $main-font;
    font-size: $mobile-font-size;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $main-font;
    text-decoration:none;
    font-weight:400;
    color: $main-text-color;
    font-size: $mobile-font-size;
    margin:0;
    padding:0;
}

p {
    margin: 0;
    padding: 0;
}
a {
    color: $main-text-color;
    text-decoration: none;
}

b {
    font-weight: 600;
}

i { 
    color: $accent-color; 
}
button { 
    font-size:1em;
    border: none;
    border-radius: $border-radius;
    text-decoration:none;
    background-color:$accent-color;
    width:40%;
    padding:4%;
    color:$offwhite;
    margin:auto;
    margin-top:4vh;
    transition:0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor:pointer;
    font-family:"Avenir";
    font-weight:500;
}

button:hover {
    background-color:$darkaccent-color;
}

@font-face {
    font-family: "SportsNight";
    src: url(../fonts/SF_Sports_Night.ttf);
  }

  @font-face {
    font-family: "Avenir";
    src: url(../fonts/avenirnextcondensed.ttf);
  }

/* tablet defaults */ 

  @media screen and (min-width: $breakpoint-tablet) {
    body {
        font-size: 1.6em;
    }
  }

/* desktop defaults */
  
  @media screen and (min-width: $breakpoint-desktop) {
    body {
        font-size: $main-font-size;
        max-width:1920px;
    }

    #app {
        max-width:1920px;
    }

    #container {
        max-width:1920px;
    }
  }

