$main-font: Arial;
$main-text-color: #757575;
$accent-color: #fc7d1f;
$offwhite: #eaeff0;
$offblack: #111111;
$main-font-size: 1.3vw;

/* breakpoints for responsive layouts */

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-maxwidth: 1920px;